.dates-section {
  height: 450px;
  background-image:
    -webkit-linear-gradient(rgba(255,254,252, .8), rgba(202,242,0, .3)), url('../images/austin-convention-center.jpg');
  background-image:
    -o-linear-gradient(rgba(255,254,252, .8), rgba(202,242,0, .3)), url('../images/austin-convention-center.jpg');
  background-image:
    linear-gradient(rgba(255,254,252, .8), rgba(202,242,0, .3)),
     url('../images/austin-convention-center.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.dates-grid {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

}

.date, .location, .location-hub {
  text-align: center;
  font-family: 'Proxima Nova';
  color: $lcDarkGray;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, .1));

}

.date {
  font-size: 65px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.location {
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 15px;
}

.location-hub {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 800;
}
