

.headline-banner {
  height: 650px;
  width: 100%;
}

.headline-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
}

.right-headline-banner {
  height: inherit;
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;

}

.left-video-banner {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.small-title {
  font-size: 18px;
  font-weight: 500;
}
